.Counter{
    position: relative;
    width: min-content;
    font-size: 2em;

    p {
        width: 100%;
        text-align: left;
        margin-bottom: -20px;
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }

    .minuteur {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-size: 5em;
        font-weight: bold;
    }
}